@model IEnumerable<BoardingGamesManager.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestNumberPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maxplayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editeur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OurDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestNumberPlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maxplayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editeur)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
